<h2>Novo Pedido</h2>
<form [formGroup]="form" (ngSubmit)="salvar()">
    <br>
    <div class="form-group">
        <label for="customerCpf" class="form-label">CPF do cliente</label>
        <input id="customerCpf" formControlName="customerCpf" type="text" class="form-control" autocomplete="off">
    </div>
    <br>
    <div class="form-group">
        <label for="product" class="control-label">Produto</label>
        <select class="form-select" id="product" formControlName="product">
            <option *ngFor="let product of produtos" [ngValue]="product.id">{{product.description}}</option>
        </select>
    </div>
    <br>
    <div class="form-group">
        <label for="quantity" class="form-label">Quantidade</label>
        <input id="quantity" formControlName="quantity" type="number" class="form-control" autocomplete="off">
    </div>
    <br>
    <button class="btn btn-danger" (click)="limpar()">Limpar</button>
    <input type="submit" value="Salvar" class="btn btn-primary" [disabled]="form.invalid" />
    <br>
    <div class="alert alert-danger mt-1" *ngIf="form.invalid && !form.pristine">
        <span *ngIf="form.get('customerCpf')?.errors?.['pattern']">O cpf deve conter 11 dígitos numéricos<br></span>

        <span *ngIf="form.get('quantity')?.errors?.['required']">A quantidade é obrigatória!<br></span>
        <span *ngIf="form.get('quantity')?.errors?.['min']">A quantidade deve ser maior que zero!<br></span>
        <span *ngIf="form.get('quantity')?.errors?.['max']">
            A quantidade não pode ser maior que a quantidade de produtos em estoque!<br>
        </span>

        <span *ngIf="form.get('product')?.errors?.['required']">Selecione um produto!<br></span>
    </div>
</form>