<h2>Gerenciar Pedidos</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Cliente</th>
            <th>Data do pedido</th>
            <th>Valor total</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos">
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.customerName }}</td>
            <td>{{pedido.requestDate | date}}</td>
            <td>{{pedido.orderValue | currency: 'BRL'}}</td>
            <td [ngSwitch]="pedido.currentStatus">
                <span *ngSwitchCase="0">Em andamento</span>
                <span *ngSwitchCase="2">Em transito</span>
                <span *ngSwitchCase="3">Finalizado</span>
            </td>
            <td class="d-flex ">
                <button class="btn btn-danger m-2"  >✖</button>
                <button class="btn btn-warning m-2" >📦</button>
                <button class="btn btn-success m-2" >🖊</button>
            </td>
        </tr>
    </tbody>
</table>