<div class="container background">
        <div class="texto">
                <h1>El Torraador</h1>
                <p>
                        Este é um sitema de delivery de cafés!
                </p>
                <p>
                        Neste sistema você poderá gerenciar, adicionar e excluir seus clientes, produtos e pedidos.
                </p>
                <p>
                        A parte de pedidos permite realizar pedidos com ou sem cliente também é possível alterar e
                        acompanhar o estatus do pedido.
                </p>
        </div>


</div>