<div class="container">
    <div class="row text-center">
        <div class="col">
            <span class="material-symbols-outlined icone mt-2">Café café café café</span>
            <h2>Acompanhar Pedido</h2>
            <span></span>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-6">
            <div class="text-center mb-4" [ngSwitch]="pedido.currentStatus">
                <h2 *ngSwitchCase="0">Em andamento</h2>
                <h2 *ngSwitchCase="1">Em transito</h2>
                <h2 *ngSwitchCase="2">Finalizado</h2>
            </div>
            <div class="progress mb-3" id="barra">
                <div [ngClass]="{'andamento': andamento() === 0, 'transito' : andamento() === 1, 'finalizado' : andamento() === 2}"
                    class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="0"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-4 text-center">
        <div class="col-4  card">
            <div class="mb-2 mt-3">
                <p>Pedido n.{{pedido.id}}
                <p>
            </div>
            <div>
                <h3>Detalhes:</h3>
                <p>Cliente: {{pedido.customerName == '' ? 'Cliente não cadastrado' : pedido.customerName}}</p>
                <p>Valor Total: R$ {{pedido.orderValue}}</p>
            </div>

        </div>
    </div>
</div>